
.container{  
    display: grid;
    grid-template-columns: 0.7fr 2fr .7fr;
    grid-template-rows: 0.5fr 0.9fr 2fr .8fr;
    gap: 0px 0px;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "side1 content side2"
    "footer footer footer";
    
}

.nav{ 
    display: inline;
    grid-area: nav;
    background-color: black;
    color: white;
    display: flex;
    place-items: center;
    }


.nav-text1{
    color: white;
    display: flex;
    font-size: x-large;
    display: inline;
}

.nav-rest{
    color: white;
    display: flex;
    flex-direction: flex-end;
}

a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: white;
}

.main{ 
    grid-area: main; 
    }

.main-photo{
    z-index: 1;
}

.featured-shows{
    z-index: 2;
    font-size: xx-large;
    color: red;
    place-items: center;
}

.side1{ 
    grid-area: side1; 
    }

.side2{ 
    grid-area: side2;
    }

.content{ 
    display: flex;
    display: column;
    grid-area: content;
    justify-content: space-between;
    align-items: center;
    }

#content-image{
    height: 150px;
    width: 150x;
}

.content-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-right: 20px;
}

button{ 
    height: 90px;
    width: 300px;
    background-color: rgb(192, 192, 24);
    font-size: large;
    color: white;
    border: white;
}

.content-container-1{
    flex-direction: row;
    justify-content: space-between;
}

.footer{
    display: flex;
    grid-area: footer;
    background-color: black;
    
}
